/* index.css */

body {
    margin: 0;
    padding: 0;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

.index-page {
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
    background: linear-gradient(
        to right,
        transparent 0%,
        transparent 10%,
        #291425 10%,
        rgba(124, 95, 137, 0.7) 40%,
        rgba(124, 95, 137, 0.7) 70%,
        #291425 90%,
        transparent 90%,
        transparent 100%
        ),
        url("src/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0 10%;
}

.index-page h1 {
    text-align: center;
}

.index-page h2{
    margin-left: 10px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px white solid;
}

.index-page h3 {
    margin-top: 0px;
    margin-left: 10px;
}

.index-page p {
    margin-left: 10px;
}

.index-page nav {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    border-top: 2px solid #3b1d35;
    border-bottom: 2px solid #3b1d35;
    background-color: #3b1d35;
}

.index-page nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.index-page nav a {
    text-decoration: none;
    color: white;
}

.index-page nav a:hover {
    color: #6f7171;
}

.index-page table {
    color: white;
    font-weight: 900;
    table-layout: bold;
    border: 4px solid white;
    border-collapse: collapse;
    margin: 20px;
}

.index-page th, .index-page td {
    border: 2px solid white;
    padding: 10px;
    text-align: left;
}

.index-page th {
    text-align: center;
}

.index-page tr a:hover {
    text-decoration: none;
    color: black;
}

.index-page tbody td {
    text-align: center;
}

.index-page .yes {
    background-color: #129a61;
}